<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name = "Brewery suite" configfailurepolicy="continue">
    <test name="Search Test">
        <classes>
            <class name="com.tunein.testclasses.CarouselClass" />
        </classes>
    </test>
</suite>